.tipper{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Skranji', cursive;
  color:whitesmoke;
}

.table{
  font-family: 'Montserrat', sans-serif;
  color:#255f60;
  margin-top:2em;
}

/* .tableContainer{
  display: flex;
  align-items: center;
} */


th{
  padding-left: 1em;
}

header{
  padding-top: .5em;
}
.loginHeader{
  display:flex;
  justify-content: space-between;
  padding:2em;
}
header{
  /* background-color: #3ea7a7; */
  background-image: linear-gradient(to bottom right,#255f60, #ade2de);
  box-shadow: rgba(12, 12, 12, 0.45) 0px 15px 10px -10px;
}

tr{
  color:#255f60;
}

.reviewPaginationFooter{
  display:flex;
  justify-content: space-between;
  padding:12.9em;
}
/* .table{
  display:flex;
  justify-content: center;
  margin-top: 3.23em;
} */
.searchBarContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  border-radius: 4px;
  margin-top: 3em;

}
.searchBar{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: .5px solid #ade2de;
  border-radius: 4px;
}

.userHeader{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:#ade2de
}

.logoutLogin{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:#d6f1ee
}

.logoutLogin:hover{
  color: whitesmoke;
}

.noDec{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

.add{
  color:#255f60;
}

.add:hover{
  font-size: 22.5px;
  
}

.user:hover{
  color: whitesmoke;
}

.divider:hover{
  transform: scale(1);
}

.value{
  padding:1em;
}

/* add component */

.address{
  color: rgb(62, 167, 167);
  font-family: 'Montserrat', sans-serif;
}

/* post comments */
.userImageContainer{
  width:15vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postAllContainer{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin:6em 8em 3em 8em;
  border-radius: .5em;
  width:50vw;
  padding:2em 1.25em;
}

.userImage{
  width:100%;


}

.userPostContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;

}

.userText{
  text-align: center;
  /* color:#255f60; */
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 500; */
}

.editDeleteIcon{
  width:1.8vw;
  margin-right: .5em;
}

.postAllContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0 5vw;

}

.customerSpan{
  color: rgb(62, 167, 167);
  font-family: 'Montserrat', sans-serif;
}

.commentContainer{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin:3em 4em;
  border-radius: .5em;
  width:30vw;
  padding:2em 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentAllContainer{
  display: flex;
  flex-direction: row;
  margin:0 2vw;
}

.userImageComment{
  width:9.75vw;
  /* border: 1px solid  rgb(62, 167, 167); */
  border-radius: 15em;
  box-shadow:    rgb(62, 167, 167) 0px 6px 12px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.commentForm{

  
}

.button{
  padding: .5em 1em;
  font-family: 'Montserrat', sans-serif;
  border-radius: .25em;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: whitesmoke;
  margin:2vh 20vw;
}

.button:hover{
  border: 1px solid rgb(62, 167, 167);
  padding: .6em 1.2em;
}
