.tipper{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Skranji', cursive;
}

.loginHeader{
  display:flex;
  justify-content: space-between;
  padding:2em;
}

.reviewPaginationFooter{
  display:flex;
  justify-content: space-between;
  padding:12.9em;
}
.table{
  display:flex;
  justify-content: center;
  margin-top: 3.23em;
}
.searchBar{
  display: flex;
  justify-content: center;
}

.userHeader{
  text-decoration: none;
  color:black;
}


.userHeader:hover{
  transform: scale(1.5);
}

.divider:hover{
  transform: scale(1);
}
