.tipper{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Skranji', cursive;
  color:whitesmoke;
}

.table{
  font-family: 'Montserrat', sans-serif;
  color:#255f60;
  margin-top:2em;
}

/* .tableContainer{
  display: flex;
  align-items: center;
} */


th{
  padding-left: 1em;
}

header{
  padding-top: .5em;
}
.loginHeader{
  display:flex;
  justify-content: space-between;
  padding:2em;
}
header{
  /* background-color: #3ea7a7; */
  background-image: linear-gradient(to bottom right,#255f60, #ade2de);
  box-shadow: rgba(12, 12, 12, 0.45) 0px 15px 10px -10px;
}

tr{
  color:#255f60;
}

.reviewPaginationFooter{
  display:flex;
  justify-content: space-between;
  padding:12.9em;
}
/* .table{
  display:flex;
  justify-content: center;
  margin-top: 3.23em;
} */
.searchBarContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  border-radius: 4px;

}
.searchBar{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: .5px solid #ade2de;
  border-radius: 4px;
}

.userHeader{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:#ade2de
}

.logoutLogin{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:#d6f1ee
}

.logoutLogin:hover{
  color: whitesmoke;
}

.noDec{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

.add{
  color:#255f60;
}

.add:hover{
  font-size: 22.5px;
  
}

.user:hover{
  color: whitesmoke;
}

.divider:hover{
  transform: scale(1);
}

.value{
  padding:1em;
}

/* add component */

.address{
  color: rgb(62, 167, 167);
  font-family: 'Montserrat', sans-serif;
}


